<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>玩家详细新</title>
</head>
<body>
<table style="width: 100%;height: 100%;border: 2px solid coral;">
    <tr>
        <td>玩家ID</td>
        <td>{{ usrid }}</td>
    </tr>
    <tr>
        <td>用户名(手机号)</td>
        <td>{{ phone }}</td>
    </tr>
    <tr>
        <td>玩家姓名</td>
        <td>{{ nickname }}</td>
    </tr>
    <tr>
        <td>玩家充值</td>
        <td>{{ moneyconsume }}</td>
    </tr>

    <tr>
        <td>玩家积分</td>
        <td>{{ lotto }}</td>
    </tr>
    <tr>
        <td>玩家筹码</td>
        <td>{{ chips }}</td>
    </tr>
    <tr>
        <td>玩家上次登录时间</td>
        <td>{{ lastLogintm }}</td>
    </tr>
    <tr>
        <td>玩家注册时间</td>
        <td>{{ regtime }}</td>
    </tr>
    <tr>
        <td>玩家注册IP</td>
        <td>{{ regip }}</td>
    </tr>
   
</table>
</body>
</html>